parameters:
	ignoreErrors:
		- '#Static call to instance method Carbon\\CarbonInterval#'
		- '#Parameter \#1 \$value of method Carbon\\Carbon::setTimezone\(\) expects DateTimeZone|string, DateTimeZone|int|string given#'
		- '#Method Carbon\\Carbon::getTestNow\(\) should return static\(Carbon\\Carbon\)|null but returns Carbon\\Carbon|null#'

	excludes_analyse:
		- '*/tests/Carbon/SettersTest.php'
